body {
  background: linear-gradient(#615dad, #ffc8da);
  min-height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  margin-top: 10%;
}

.img-responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
  font-size: 50px;
  padding-bottom: 20px;
}

.text {
  margin-top: 0;
  margin-bottom: 0px;
  color: #ffffff;
  text-align: center;
  padding: 0 15px;
  padding-bottom: 35px;
  line-height: 26px;

  font-family: "Noto Sans Khojki", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.background-dark-blue {
  background-color: #283e50;
}

.border-radius {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.buttons {
  width: 100%;
  background-color: #283e50;
  font-family: "Noto Sans Khojki", sans-serif;
  font-weight: 400;
  font-style: normal;

}


.btn {
  display: block;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 10px;
}

.btn-rules {
  background-color: #1fcca4;
}

.btn-rules:hover {
  background-color: #1cbb96;
}

.btn-play {
  background-color: #0197f6;
  margin-top: 1px;

}

.btn-play:hover {
  background-color: #0090e9;
}

/***********************
*************************
***************** druhá stránka hra.html */
.game {
  max-width: 80vmin;
  margin: 0 auto;
}

.display-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gamer {
  display: flex;
}

.gamer h2 {
  color: #fff;
  font-family: sans-serif, arial;
}

.gamer img {
  margin-left: 10px;
}

.buttons-home-return {
  display: inline-block;
  height: 40px;
}

.buttons-home-return a {
  text-decoration: none;
}


.home img {
  background-color: #1fcca4;
  padding: 8px;
  border-radius: 5px
}

.home img:hover {
  background-color: #1cbb96;
}

.restart img {
  background-color: #0197f6;
  padding: 8px;
  border-radius: 5px
}

.restart img:hover {
  background-color: #0090e9;
}

.hraci-pole {
  /* height: calc(100vh - 180px); */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  border: 1px solid black;
  margin-bottom: 15px;
}



.hraci-pole button {
  width: calc(100% / 10);
  /* height: 10%; */
  border: 1px solid black;
  cursor: pointer;
  background: linear-gradient(#e3cbe0, #dac5de, #f2d5e5);
  padding: 0;
}

.hraci-pole button:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.hraci-pole button:hover {
  background: #ebdfe7;

}

.hraci-pole button:focus {
  background: #ebdfe7;

}




/* řešení pro backgroung na malym rozlišení */
@media (max-width: 375px) {
  body {
    min-height: 100vh;
    height: auto;
  }

  .container {
    top: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

}


@media (max-width: 1536px) {
  .container {
    margin-top: 3%;
  }
}
