body {
  background: linear-gradient(#615dad, #ffc8da);
  height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  top: 10%;
}

.img-responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
  font-size: 50px;
  padding-bottom: 20px;
}

.text {
  margin-top: 0;
  margin-bottom: 0px;
  color: #ffffff;
  text-align: center;
  padding: 0 15px;
  padding-bottom: 35px;
  line-height: 26px;

  font-family: "Noto Sans Khojki", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.background-dark-blue {
  background-color: #283e50;
}

.border-radius {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.buttons {
  width: 100%;
  background-color: #283e50;
  font-family: "Noto Sans Khojki", sans-serif;
  font-weight: 400;
  font-style: normal;

}


.btn {
  display: block;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 10px;
}

.btn-rules {
  background-color: #1fcca4;
}

.btn-rules:hover {
  background-color: #1cbb96;
}

.btn-play {
  background-color: #0197f6;
  margin-top: 1px;

}

.btn-play:hover {
  background-color: #0090e9;
}

/* řešení pro backgroung na malym rozlišení */
@media (max-width: 375px) {
  body {
    min-height: 100vh;
    height: auto;
  }

  .container {
    top: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

}


@media (max-width: 1536px) {
  .container {
    top: 3%;
  }
}
