body {
  background: linear-gradient(#615dad, #ffc8da);
  height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  top: 10%;
}

.img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
  font-size: 50px;
  padding-bottom: 20px;
}

.text {
  margin-top: 0;
  margin-bottom: 0px;
  color: #ffffff;
  text-align: center;
  padding: 0 15px;
  padding-bottom: 35px;
  line-height: 26px;

  font-family: "Noto Sans Khojki", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.background-dark-blue {
  background-color: #283e50;
}

.border-radius {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.buttons {
  width: 100%;
  background-color: #283e50;
  font-family: "Noto Sans Khojki", sans-serif;
  font-weight: 400;
  font-style: normal;

}


.btn {
  display: block;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 10px;
}

.btn-first {
  background-color: #1fcca4;
}

.btn-first:hover {
  background-color: #1cbb96;
}

.btn-second {
  background-color: #0197f6;
  margin-top: 1px;

}

.btn-second:hover {
  background-color: #0090e9;
}
